<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/a34abfb482.js"></script>
    <link rel = "stylesheet" href = "./style.css">
</head>
<body>

   <header class="site-header">
    <div class="wrapper site-header__wrapper">
      <h3 class="name__logo">Learning Managemnet System</h3>
      <nav class="nav">
       
        <ul class="nav__wrapper">
          
          <li class="nav__item nav__item--end logout__item"><a class = "logout__link" href="#">Log out</a></li>
          
        </ul>
      </nav>
    </div>
  </header>

  <!-- Main data container -->
  <section class = "dashboard__container">
    <div class="dash__board" >
      <div class = "dash__c1">
        <div class = "dash_profile_picture_contianer">
          <div class = "circular--landscape">
            <img src = "./img/img_avatar.png" alt="loading...">
          </div>
          <div class = "student__data"> 
            
          </div>
        </div>
        <div class = "dash__c1__item">
          <a class = "nav__dashboard" href="#">Dashboard</a>
        </div>
        <div class = "dash__c1__item">
          <a class = "nav__classes" href="#">Classes</a>
        </div>
        <div class = "dash__c1__item">
          <a class = "nav__addmission" href="#">Addmission</a>
        </div>
        <div class = "dash__c1__item">
          <a class = "nav__courses" href="#">Courses</a>
        </div>
        <div class = "dash__c1__item">
          <a class = "nav__routine" href="#">Routine</a>
        </div>
        <div class = "dash__c1__end dash__c1__item ">
          <a class = "nav__student__info" href="#">Student info</a>
        </div>
      </div>
      <div class = "dash__c2">
        <!-- <div class = "data_row_1">
          <div class = "data_1_item data_1_1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit porro iure?
          </div>
          <div class = "data_1_item data_1_2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quasi corrupti pariatur?
          </div>
          <div class = "data_1_item data_1_3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius reprehenderit dicta voluptas!
          </div>
        </div>  -->
        
        
      </div>  
    </div>
  </section>




  <h3>Protected route</h3>

  <div class = "student__data__new">

  </div>

  

  <script src = "./scripts.js"></script>  
</body>
</html>