<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <h3 class="name__logo">Learning Managemnet System</h3>
    <nav class="nav">
     
      <ul class="nav__wrapper">
        
        <li class="nav__item nav__item--end logout__item"><a class = "logout__link" href="#" onclick = 'logoutStudent()'>Log out</a></li>
        
      </ul>
    </nav>
  </div>
</header>