<div class = "dash__c1">
  <div class = "dash_profile_picture_contianer">
    <div class = "circular--landscape">
      <img src = "/img/img_avatar.png" alt="loading...">
    </div>
    <div class = "student__data"> 
      
    </div>
  </div>
  <div class = "dash__c1__item">
    <a class = "nav__dashboard" href="">Dashboard</a>
  </div>
  <div class = "dash__c1__item">
    <a class = "nav__classes" href="#">Classes</a>
  </div>
  <div class = "dash__c1__item">
    <a class = "nav__addmission" href="#">Addmission</a>
  </div>
  <div class = "dash__c1__item">
    <a class = "nav__courses" href="#">Courses</a>
  </div>
  <div class = "dash__c1__item">
    <a class = "nav__routine" href="#">Routine</a>
  </div>
  <div class = "dash__c1__end dash__c1__item ">
    <a class = "nav__student__info" href="#">Student info</a>
  </div>
</div>